@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.Controls {
  width: 100%;
  height: 100%;
  height: 5rem;
  display: grid;
  grid-template-columns: 80% 1fr;

  &__slide {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin: 0;

    .bar {
      width: 100%;
      height: 0.5rem;
      border-radius: 10px;
      background-color: $light;
      position: relative;
      overflow: hidden;
      cursor: pointer;
      transition: all 300ms;

      .progress {
        width: 0%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transition: all 300ms;
        border-radius: 10px;

        @include themify($themes) {
          background-color: themed("primary");
        }
      }
    }
    .duration {
      height: 2.2rem;
      font-size: 1.2rem;

      .current {
        @include themify($themes) {
          color: themed("primary");
        }
      }
    }
  }
  &__play {
    width: 100%;
    cursor: pointer;
    display: flex;
    justify-content: end;
    transition: all 300ms;

    &:active {
      svg {
        fill: none;
        stroke: $light;
      }
    }

    svg {
      color: $light;
      fill: $light;
    }
  }
}
