@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

.search__bar {
  position: absolute;
  top: 50%;
  left: 22%;
  width: 22rem;
  height: auto;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 17px 13px 31px -6px rgba(0, 0, 0, 0.5);
  z-index: 120;
  background-color: #fff;
  padding: 0.5rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  form {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 16%;
    place-items: center;
  }

  button {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  svg {
    width: 2.5rem;
    padding: 0.4rem;
    border-radius: 50%;
    transition: all 300ms;

    &:hover {
      @include themify($themes) {
        background: rgba($color: themed("primary"), $alpha: 1);
      }
    }
  }

  input {
    width: 100%;
    height: 100%;
    border: none;
    padding-left: 1rem;
    font-size: 18px;
    font-family: "Oswald", sans-serif;

    &:focus {
      outline: none;
    }
  }

  span {
    margin: 0 auto;
    width: 5rem;
    height: 5px;
    border-radius: 20px;
    background-color: rgba($color: #000000, $alpha: 0.2);
  }

  &__track {
    display: flex;
    width: 100%;
    padding: 0.5rem;
    gap: 1rem;
    cursor: pointer;
    align-items: center;
    transition: all 300ms;
    border-radius: 30px;

    &:hover {
      background-color: rgba($color: #757575, $alpha: 0.1);
    }

    img {
      width: 4rem;
      height: 4rem;
      border-radius: 10px;
      object-fit: cover;
    }
  }
}
@media (max-width: 1400px) {
  .search__bar {
    left: 46%;
    top: 17.5%;
    transform: translateX(-46%);
  }
}

@media (max-width: 768px) {
  .search__bar {
    top: 2%;
    left: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (max-width: 640px) {
  .search__bar {
    width: 15rem;
    font-size: 0.5rem;
    padding: 0.3rem;
    top: 4.5%;
    svg {
      width: 2.2rem;
    }
    input {
      font-size: 1rem;
    }
  }
}

@media (max-width: 480px) {
  .search__bar {
    width: 12rem;
    font-size: 0.5rem;
    padding: 0.3rem;
    top: 4.5%;
    svg {
      width: 2.2rem;
    }
    input {
      font-size: 1rem;
    }
  }
}
