@use "../abstracts/variables" as *;

.TrackInfo {
  color: $light;
  top: 0;
  left: 0;

  &.search {
    color: $dark;

    h4 {
      font-size: 1.5rem;
    }
    p {
      font-size: 1rem;
      color: $darkTransparent;

      &:before {
        content: "by ";
      }
    }
  }

  h4 {
    font-size: 2.5rem;
  }
  p {
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.6);
  }
}

@media (max-width: 480px) {
  .TrackInfo {
    &.search {
      h4 {
        font-size: 1rem;
      }
      p {
        font-size: 0.8rem;
      }
    }
  }
}
