$light: #fff;
$dark: #0c0d12;
$lightTransparent: rgba(255, 255, 255, 0.2);
$darkTransparent: rgba(12, 13, 18, 0.6);
$glareColor: rgb(199 198 243);

$err: #ff85a1;
$warning: #ffdd78;
$success: #78ff95;
$info: #78c2ff;
