$themes: (
  violet: (
    primary: #ada2ff,
    secondary: #c0deff,
    terciary: #ffe5f1,
    quaternary: #fff8e1,
    accent: #8a7aff,
  ),
  blue: (
    primary: #5485ff,
    secondary: #f1f6f5,
    terciary: #82c3ec,
    accent: #2d58c4,
  ),
  red: (
    primary: #eb455f,
    secondary: #fcffe7,
    terciary: #bad7e9,
    querternary: #2b3467,
    accent: #c21d37,
  ),
);
