@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.CardMusic__container {
  width: 50rem;
  height: 100%;
  background-color: transparent;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  scrollbar-width: thin;
  scrollbar-color: #252838 #0c0d12;
}

.CardMusic {
  box-shadow: none;
  backface-visibility: visible;
  background: transparent;
  font-family: "Oswald", sans-serif;
  transform-style: preserve-3d;
  padding: 0;
  margin: 0 2rem 4rem 0;
  width: 30rem;
  height: 80%;
  float: left;
  transition: all 0.2s ease-out;
  border: none;
  letter-spacing: 1px;
  box-sizing: border-box;

  .track .CardMusic__backface .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 14px;
    height: 100%;
    transform: rotateY(180deg);
    background-size: auto 102%;
    background-position: -2px -5px;
  }

  &__backface {
    transform: rotateX(0) rotateY(0deg) scale(1) translateZ(-4px);
    border-radius: 14px;
    background: linear-gradient(45deg, $dark, $dark);
    position: absolute;
    top: 0;
    color: $light;
    padding: 2rem;
    box-sizing: border-box;
    transition: all 0.15s ease-out;
    will-change: transform, filter;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .image {
      width: 100%;
      height: 100%;
      padding: 1rem;
      box-sizing: border-box;

      .Artists {
        width: 100%;
        height: 100%;
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
        grid-template-rows: 18rem 18rem;
        overflow-y: auto;
      }
      .Artist__card {
        width: 100%;
        height: 100%;
        position: relative;

        img {
          border-radius: 14px;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        &__info {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          padding: 1rem;
          background: rgba(0, 0, 0, 0.6);
          backdrop-filter: blur(5px);
          border-radius: 0 0 14px 14px;
          color: $light;
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
          box-sizing: border-box;
          h4 {
            margin: 0;
            font-size: 1rem;
            font-weight: 500;
          }
          p {
            margin: 0;
            font-size: 0.8rem;
            font-weight: 400;
            color: rgba(255, 255, 255, 0.6);
          }
        }
      }
    }
  }

  &__frontface {
    font-size: 2rem;
    color: $light;
    line-height: 3rem;
    will-change: transform, filter;
    float: none;
    background: $dark;
    background-size: calc(100% + 6px) auto;
    background-position: -3px -3px;
    margin: 0;
    transition: all 0.15s ease-out;
    height: auto;
    border-radius: 14px;
    box-sizing: border-box;
    display: block;
    margin: 0px auto;
    transform: rotateX(0deg) rotateY(0deg) scale(1);
    top: 0;
    height: 100%;
    filter: drop-shadow(0 15px 15px rgba(0, 0, 0, 0.3));
    font-weight: 500;
    perspective-origin: 0 0;
    letter-spacing: 0;
    overflow: hidden;

    .track__image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &__init {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $dark;
    }
  }

  .glare {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: all 0.1s ease-out;
    opacity: 0.6;
    pointer-events: none;
    height: 100%;
    border-radius: 14px;
    z-index: 9999;
    mix-blend-mode: hard-light;
    background: radial-gradient(circle at 50% 50%, $glareColor, transparent);
  }
}
.flip,
.unflip {
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  position: absolute;
  top: 2rem;
  right: 1rem;
  padding: 0.5rem;
  border-radius: 50%;
  line-height: 1rem;
  cursor: pointer;
  transition: all 0.1s ease-out;

  svg {
    width: 2rem;
  }
}
.track .CardMusic__backface .image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 14px;
  height: 100%;
  transform: rotateY(180deg);
  background-size: auto 102%;
  background-position: -2px -5px;
}
.unflip {
  top: auto;
  bottom: 1rem;
  @include themify($themes) {
    background: themed("primary");
  }
}
.flip:hover {
  background: rgba(0, 0, 0, 0.3);
}

.track .flip:hover,
.track .unflip:hover {
  @include themify($themes) {
    background: themed("primary");
  }
}
.CardMusic.flipped {
  transform: rotateY(180deg);
}
.CardMusic .flip-inner-card {
  transform: rotateY(180deg);
  position: absolute;
  top: 0;
  padding: 2rem 1.5rem;
  box-sizing: border-box;
  left: 0;
  width: 100%;
  height: 100%;
}
.flip-inner-card h3 {
  font-size: 1.25rem;
  margin-top: 0;
}
.flip-inner-card p {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  line-height: 1.5rem;
}

.CardMusic .glare {
  opacity: 0;
}
.CardMusic.animated .glare {
  opacity: 0.3;
}

@media (max-width: 1400px) {
  .CardMusic__container {
    width: 100%;
    height: 100%;
    align-items: end;

    .CardMusic {
      margin: 0 0 3rem 0;
    }
  }
}

@media (max-width: 768px) {
}

@media (max-width: 640px) {
  .CardMusic__container {
    height: 100%;
    width: 100%;
    .CardMusic {
      width: 100%;
      height: 100%;
      margin: 0;
      transform-style: none;

      &__frontface {
        transform: none;

        &__init {
          padding: 0 1rem;
          text-align: center;
        }
      }
    }
  }
  .CardMusic .flip-inner-card {
    transform: none;
  }
}
